.uppercase, .upper {
    text-transform: uppercase!important;
}

.lowercase, .lower {
    text-transform: lowercase!important;
}

.capitalize, .capit {
    text-transform: capitalize!important;
}

.normal-case, .normalc {
    text-transform: none!important;
}