/*********************************/
/************* COLOR *************/
/*********************************/

$white: #fff;

/* GRAY */
$gray: #4a5568;
$gray_lite: #a0aec0;
$gray_bold: #1a202c;

/* RED */
$red: #c53030;
$red_lite: #f56565;
$red_bold: #742a2a;

/* ORANGE */
$orange: #c05621;
$orange_lite: #ed8936;
$orange_bold: #7b341e;

/* YELLOW */
$yellow: #ecc94b;

/* GREEN */
$green: #2f855a;
$green_lite: #48bb78;
$green_bold: #22543d;

/* TEAL */
$teal: #2c7a7b;
$teal_lite: #38b2ac;
$teal_bold: #234e52;

/* BLUE */
$blue: #2b6cb0;
$blue_lite: #4299e1;
$blue_bold: #2a4365;

/* INDIGO */
$indigo: #4c51bf;
$indigo_lite: #667eea;
$indigo_bold: #3c366b;

/* PURPLE */
$purple: #6b46c1;
$purple_lite: #9f7aea;
$purple_bold: #44337a;

/* PINK */
$pink: #b83280;
$pink_lite: #ed64a6;
$ping_bold: #702459;

/*********************************/
/************** SIZE *************/
/*********************************/

$size_0: 0;
$size_1: 0.25rem;
$size_2: 0.5rem;
$size_3: 0.75rem;
$size_4: 1rem;
$size_5: 1.25rem;
$size_6: 1.5rem;
$size_7: 2rem;
$size_8: 2.5rem;
$size_9: 3rem;
$size_10: 3.5rem;
$size_11: 4rem;
$size_12: 5rem;
$size_13: 6rem;
$size_14: 8rem;
$size_15: 10rem;
$size_16: 12rem;
$size_17: 14rem;
$size_18: 16rem;